[Unit]
Description=INetU Hardware Sale Runner
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/hardware_sale_runner
ExecStart=/usr/bin/python $OPTIONS
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
