{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <div class='container'>
      <div class='admin_block one-quarter'>
        <h2>Add new sale</h2>
        <form action="{{ url_for('add_sale') }}" method="post" class="add-sale">
          <table cellspacing='10' width='100%'>
            <tr><td>Sale Name:</td></tr>
            <tr><td><input type="text" size="30" name="sale_name" /></td></tr>
            <tr><td>Sale Date:</td></tr>
            <tr><td class='italic'>(eg. 2016-04-06 12:00:00)</td></tr>
            <tr><td><input type="text" size="30" name="sale_date" /></td></tr>
            <tr><td align='right'><input type="submit" value="Create"></td></tr>
          </table>
        </form>
      </div>
      <div class='admin_block three-quarters'>
        <h2>Manage Sales</h2>
        <table cellspacing='10' width='100%' class='datatable'>
          <tr><th align='left'>Sale Name:</th><th align='left'>Sale Date:</th><th></th><th></th><th></th></tr>
          {% for sale in sale_details %}
            <tr><td>{{ sale[1] }}</td><td>{{ sale[2] }}</td><td><a href='{{ url_for('edit_sale', sale_id=sale[0]) }}'>Edit</a></td><td><a href='{{ url_for('sale_report', sale_id=sale[0]) }}'>Report</a></td></tr>
          {% endfor %}
        </table>
      </div>
      <div class='clear_block'></div>
    </div>
    <div class='container'>
      <div class='admin_block one-quarter'>
        <h2>Add admin</h2>
        <form action='{{ url_for('add_admin') }}' method='post'> 
          <table cellspacing='10' width='100%'>
            <tr><td>Admin Name:</td></tr>
            <tr><td><input type="text" size="30" name="admin_name" /></td></tr>
            <tr><td>Admin Email:</td></tr>
            <tr><td><input type="text" size="30" name="admin_email" /></td></tr>
            <tr><td>Password:</td></tr>
            <tr><td><input type="password" size="30" name="plaintext_password" /></td></tr>
            <tr><td align='right'><input type="submit" value="Create"></td></tr>
          </table>
        </form>
      </div>
      <div class='admin_block three-quarters'>
        <h2>Manage Admins</h2>
        <table cellspacing='10' width='100%' class='datatable'>
          <tr><th align='left'>Admin Name:</th><th align='left'>Admin Email:</th><th></th><th></th><th></th></tr>
          {% for admin in admin_details %}
            <tr><td>{{ admin[1] }}</td><td>{{ admin[2] }}</td><td><a href='{{ url_for('edit_sale', sale_id=admin[0]) }}'>Edit</a></td><td><a href='{{ url_for('delete_sale', sale_id=admin[0]) }}'>Delete</a></td></tr>
          {% endfor %}
        </table>
      </div>
      <div class='clear_block'></div>
    </div>
  {% endif %}
  </ul>
{% endblock %}
