<html>
  <head></head>
  <body>Hello,<br />
    <br />
    This email was sent from the Peak10+ViaWest Hardware Sale robot.  Someone claiming to be you asked to have you included in the drawing for a chance to purchase the following item in the upcoming {{ sale_name }} to be held on {{ sale_date }}:<br />
    <br />
    <table border='0' cellpadding='5'><tr><td>{{ device_name }}</td><td>{{ device_description }}</td><td>${{ price }}</td></tr></table><br />
    <br />
    If you want to purchase this item, click the following link to confirm<br />
    <a href='https://{{ baseuri }}/confirm/{{ sale_id }}/{{ uuid }}'>https://{{ baseuri }}/confirm/{{ sale_id }}/{{ uuid }}</a><br />
    <br />
    If you do NOT want to purchase this item, you can safely ignore this email.  Thank you.<br />
    <br />
    Regards,<br />
    Peak10+ViaWest Hardware Sale robot
  </body>
</html>
