<html>
  <head></head>
  <body>Hello,<br />
    <br />
    This email was sent from the {{ company_name }} Hardware Sale robot.<br />
    <br />
    Unfortunately, you were <b>not</b> selected to purchase the following item in the upcoming {{ sale_name }}, held on {{ sale_date }}:<br />
    <br />
    <table border='0' cellpadding='5'><tr><td>{{ device_name }}</td><td>{{ device_description }}</td><td>${{ price }}</td></tr></table><br />
    Regards,<br />
    {{ company_name }} Hardware Sale robot
  </body>
</html>
