<html>
  <head></head>
  <body>Hello,<br />
    <br />
    This email was sent from the {{ company_name }} Hardware Sale robot.<br />
    <br />
    Good news!  You <b>were</b> selected to purchase the following item in the {{ sale_name }}, held on {{ sale_date }}:<br />
    <br />
    <table border='0' cellpadding='5'><tr><td>{{ device_name }}</td><td>{{ device_description }}</td><td>${{ price }}</td></tr></table><br />
    Please go to the warehouse as soon as possible to pay, choose, and test your device.  Contact someone from ACT to let you in if you don't have physical access to the warehouse.<br />
    <br />
    <b>NOTE:</b> you must pay for and pick up your device by <b>{{ close_date }}</b> or you will forfeit the opportunity to purchase it and be banned from future hardware sales.<br />
    <br />
    <b>IMPORTANT NOTES:</b>
    <ul>
      <li>If you are purchasing a rack-mounted device, you may take a set of rails for it, if the proper rails are available in the pile.</li>
      <li>If you are purchasing a device with hot-swap disks, you make take the appropriate number of hot-swap disk trays, if the proper disk tray are available in the pile.</li>
      <li>If you are purchasing a device with modular RAM, you make take the appropriate number of memory modules, if the proper memory modules are available in the pile.</li>
      <li>All servers and storage come with no physical disks.</li>
      <li>All devices come with no (external) cables and no warranty beyond the warranty against DOA described below.</li>
    </ul>
    <b>Warranty against DOA:</b>
    <ul>
      <li>There will be a monitor/keyboard/mouse available in the warehouse near the pickup area for you to test the functionality of your device.</li>
      <li>If a device you selected is not functional (as may sometimes happen with decommissioned hardware), we will take your device away and you may choose a replacement device of the same type.</li>
      <li>If there are no remaining devices of that type, you will be given your money back.</li>
      <li>If you choose not to fully test your device before payment and/or leaving the pickup area, this warranty will be voided.</li>
    </ul>
    Please note that if there are devices remaining after all purchased items are paid for and picked up, we will contact you to ask if you want to buy any more.  If the demand for additional items exceeds the supply on-hand, we will re-run a new sale in the same fashion as this sale.<br />
    <br />
    Regards,<br />
    {{ company_name }} Hardware Sale robot
  </body>
</html>
