{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
  <center><h2>Devices available in {{ sale_name }}</h2></center>
  <center>Sale closing at {{ sale_date }}</center>
  <table border=0 cellpadding='5' width='100%' class='datatable'>
    <tr><th>Device Name</th><th>Device Description</th><th>Type</th><th>Quantity</th><th>Buyers</th><th>Price</th><th></th></tr>
  {% for device in sale_details %}
    <tr><td>{{ device[2] }}</td><td>{{ device[3] }}</td><td align='center'>{{ device[4] }}</td><td align='center'>{{ device[1] }}</td><td align='center'>{{ device[5] }}</td><td align='center'>${{ device[6] }}</td><td align='center'><a href='/bucket/{{ sale_id }}/{{ device[0] }}'>I want one</a></td></tr>
  {% else %}
    <tr><td colspan='6'><em>No items in this sale. </em></td></tr>
  {% endfor %}
  </table>
{% endblock %}
